{% extends "bootstrap/base.html" %}

{% block title %}Lab Project SOS{% endblock %}

{% block metas %}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/style.css" media="all">
<link rel="stylesheet" href="/static/narrowed.css" media="all">
{% endblock %}

{% block content %}
<div id="main-container" class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <h2 class="text-muted">Lab Project SOS</h3>
    </div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'new-proj' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-tw') }}
{% endblock %}

