{% extends "base.html" %}
{% block page_content %}
<div class="row">
    <div class="col-xs-10">
        <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" class="form-control" placeholder="標籤、專案名稱">
        </div>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-lg" href="/new" role="button">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div><!-- row -->
<div id="proj-list" class="row">
<div class="col-xs-12">
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>標題</th>
        </tr>
    </thead>
    <tbody>
{% for proj in proj_list %}
        <tr>
            <td>{{ proj.id }}</td>
            <td>{{ proj.title }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
