{% extends "base.html" %}
{% block page_content %}
<div id="func-bar" class="row">
    <form class="navbar-form" role="search">
    <div class="col-xs-10">
    <div class="input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" placeholder="標籤、專案名稱">
    </div>
    </div>
    <div class="col-xs-2 text-center">
        <a class="btn btn-primary btn-lg" href="{{ url_for("new_proj") }}" role="button">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    </form>
</div><!-- row -->
<div id="proj-list" class="row">
<div class="col-xs-12">
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>標題</th>
            <th>最後修改</th>
        </tr>
    </thead>
    <tbody>
{% for proj in proj_list %}
        <tr>
            <td>{{ proj.id }}</td>
            <td><a href="{{ url_for('proj_page', proj_id=proj.id) }}">{{ proj.title }}</a></td>
            <td>{{ moment(proj.mod_time).fromNow(refresh=True) }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
